*,
*:before,
*:after {
  box-sizing: border-box;
}

.student-form{
  width: 100%; 
  padding: 3em 0;
  background: linear-gradient(64deg, #49a09d, #2421be);
  background-size: 400% 400%;
  /* animation: gradient 10s ease infinite; */

}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.student-form .txt{
  margin:  3% auto 5% auto;
	font-family: "Montserrat";
	width: 100%;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	color:#003366;
	padding: 5px 0;
	border-top:#003366 solid 2px;
	border-bottom:#003366 solid 2px;
}

.container-form{
  width: 90%; /* portrait */
  width: 50%;/* Landscape */
  height: auto;
  padding: 1em 3em 5em 3em;
  margin: 0em auto;
  background-color: rgb(255, 255, 255); /* Fallback color blue*/
  background-color: rgba(255, 255, 255, 0.822); /* Black w/opacity/see-through */
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
}

h4 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: auto;
  color: #78788c;
  border-bottom: 2px solid #78788c;
}

.half{
 
 width: 80%;
}

.space{
  width: 3em;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

input:focus {
  border-bottom: 2px solid #78788c;
}

.p {
  display: block;
  font-size: 16px;
  color: #5a5a5a;
  text-align: left;
  width: 100%;
}

.if{
  color: blue;
}

button{
  width: auto;
  float: right;
  padding: 8px 12px;
  margin: 10px 10px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

#submit:hover {
  background: #00b144;
  color: #fff;
}

#Cancel:hover {
  background: #e62626;
  color: #fff;
}

#Reset:hover {
  background: #c9960b;
  color: #fff;
}

h2 {
  color: #0095E0;
  text-align: center;
  text-shadow:  2px  1px 3px  #000000;
}
 
select option {
  background-color: #fff;
  
}
option{
  border: 1px solid gray;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
  
}

.col-half {
  display: flex;
  width: 100%;
 justify-content: center;
}

.col-half:last-of-type {
  padding-right: 0;
}

.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    
    padding-right: 0;
  }
}

.qrButton{
  text-align: center;
  width: 450px;
  margin: 20px 0 30px 0;
}

#canvas{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

#canvas{
  text-align: center;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

.QR{
  text-align: center;
  border: solid blue;
  
}

.con-QR{
  width: 400px;
  height: 500px;
 box-shadow: 0 0 40px -10px #000;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 4%;
  margin-top: 8%;
  background-color: white;
  border-radius: 30px;
}

.pop-up{
  
  margin: 0;
  width: 95.3%;
  height: 100%;
  align-items: center;
 /* position: fixed;
  top: 0; */
  text-align: center;
  background-color: rgb(255, 255, 255); /* Fallback color blue*/
  background-color: rgba(255, 255, 255, 0.596); /* Black w/opacity/see-through */
}

