/*office appoint*/
.container-appoint{
  background-color: #ffffff; /*medjo White */
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 55px 0 0 0;
  /* background: linear-gradient(64deg, #49a09d, #1f31d4);
  background-size: 400% 200%; 
  animation: gradient 10s ease infinite;*/
  /* background-color: #D9E4EA; */
  
}

.txt{
  margin: auto;
  font-family: "Montserrat";
  width: 80%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
  color:#003366;
  padding: 5px 0;
  border-top:#003366 solid 5px;
  border-bottom:#003366 solid 5px;
}

.row{
  margin-top: 2%;
  padding:auto;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.col-md-4{
  display: inline-flex; 
  width: 320px;
  margin: 0 1% 1% 1%;
  justify-content: space-evenly;
}

/* .box {
  text-align: center;
  width: 370px;
  padding-right: 15px;
  padding-left: 15px;  
  border:solid green;
} */

.our-category {
  text-align: center;
  border-radius: 20px 5px 20px;
  background-color:transparent;
  transition: all .4s ease-in-out;
  width: 320px;
  padding: 5px 0 5px 0;
  border: solid 0.5px #000;
  background-color: #f1f6ff;
}

.box-txt{
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding-bottom: 3px;
}

h4{
  /* color: white; */
  font-size: 20px;
  padding: 0 0 0 0;
  margin:0;
  width: fit-content;
  display: inline-block;
  text-align: center;
}

.Notif{
  background-color:#D81C3C;
  font-family: "Montserrat";
  color:white;
  border-radius: 50%;
  font-size: 20px;
  float: right;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: -10px;
  box-sizing: border-box;
}

/* img{
  height: 80px;
  width: 80px;
} */

.icon-office {
  height: 70px;
  width: 70px;
  text-align: center;
  margin: auto;
}
.data-left{
  float: left;
  text-align: left;

  margin-left: 15%;
  margin-bottom:1px;
}
.data-right{
  float: right;
  text-align: right;

  margin-right: 18%;
  margin-bottom:1px;
}

.Faculty {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/office.png");
}

.Registrar {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/company.png");
}

.Casher {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/building (1).png");
}

.OSDS {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/office-building.png");
}

.Clinic {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/hospital.png");
}

.Library {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/book-shop.png");
}

.Gymnasium {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../Picture/gym.png");
}

.Appointment {
  background-repeat: no-repeat;
  background-size: 120%;
  background-image: url("../Picture/appointment.png");
}

.our-category:hover h4,
.our-category:hover p {
  color: #003366;
  
}

.our-category:hover {
  box-shadow: 0 0 5px 0 #003366;
  border: solid 1px #003366;
  cursor: pointer;
  border-radius: 0 20px 0

}

#button {
  display: inline-block;
  background-color: #003366;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #1CA6C8
}
#button:active {
  background-color: #CBEBE9
}
#button.show {
  opacity: 1;
  visibility: visible;
}
